apiVersion: apps/v1
kind: Deployment
metadata:
  name: open-webui
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: open-webui
  replicas: 1
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        app.kubernetes.io/name: open-webui
    spec:
      automountServiceAccountToken: false
      hostUsers: false
      containers:
        - name: container
          image: registry.sigurs.io/ghcr.io/open-webui/open-webui:v0.8.2@sha256:0f8e3746aecbad6a31faacd93b0443eb8e5f5db14a03f9c4f68ba08c003683bd
          securityContext:
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL
          env:
            - name: TZ
              value: Europe/Helsinki
          ports:
            - containerPort: 8080
              name: http
          volumeMounts:
            - name: open-webui
              mountPath: /app/backend/data
              subPath: app/backend/data
      volumes:
        - name: open-webui
          persistentVolumeClaim:
            claimName: open-webui