apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
spec:
  project: home-k8s.admin
  sources:
    - chart: traefik
      repoURL: https://traefik.github.io/charts
      targetRevision: v37.4.0
      helm:
        valuesObject:
          securityContext:
            seccompProfile:
              type: RuntimeDefault
          additionalArguments:
            - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
            - "--entryPoints.web.http.redirections.entryPoint.scheme=https"
            - "--entryPoints.web.http.redirections.entryPoint.permanent=true"
    - repoURL: https://github.com/Sigurs/gitops.git
      targetRevision: HEAD
      path: home-k8s/admin/traefik/overlays/prod
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik