apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - admin/argocd.yaml
  - admin/cert-manager.yaml
  - admin/stackrox.yaml
  - admin/system-upgrade-controller.yaml
  - admin/traefik.yaml

  - apps/change-detection.yaml
  - apps/cyberchef.yaml
  - apps/n8n.yaml
  - apps/open-webui.yaml
  - apps/prod-adguard.yaml
  - apps/prod-hass.yaml
  - apps/trilium.yaml
