apiVersion: apps/v1
kind: Deployment
metadata:
  name: change-detection
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: change-detection
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: change-detection
    spec:
      automountServiceAccountToken: false
      hostUsers: false
      containers:
        - name: chromium
          # Use v1 until v2 ARM64 appears.
#          image: registry.sigurs.io/ghcr.io/browserless/chromium:v2.30.1
          image: registry.sigurs.io/docker.io/browserless/chrome:1.61.1-chrome-stable
          securityContext:
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL
          ports:
            - containerPort: 3000
              name: chromium-api
              protocol: TCP
          env:
            - name: TZ
              value: Europe/Helsinki
        - name: change-detection
          image: registry.sigurs.io/docker.io/dgtlmoon/changedetection.io:0.51.4
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL
          ports:
            - containerPort: 5000
              name: http
              protocol: TCP
          env:
            - name: TZ
              value: Europe/Helsinki
            - name: PLAYWRIGHT_DRIVER_URL
              # v1 url
              value: ws://localhost:3000/?stealth=1&--disable-web-security=true&--no-sandbox=true&--headless=true&--window-size%3D1920%2C1080
#              value: ws://localhost:3000/chromium?launch={"defaultViewport":{"height":720,"width":1280},"headless":false,"stealth":true}&blockAds=true
          volumeMounts:
            - name: change-detection
              mountPath: /datastore
              subPath: datastore
      volumes:
        - name: change-detection
          persistentVolumeClaim:
            claimName: change-detection
      # We want this deployment on a specific node
      nodeSelector:
        kubernetes.io/hostname: home-k8s01.sigurs.io